td {
  bottom: 10px;
  border: 3px solid #333;
  height: 125px;
  width: 125px;
  text-align: center;
  vertical-align: middle;
  font-family: "Cosmic Sans MS", cursive, sans-serif;
  font-size: 80px;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 300px;
}
.header {
  padding: 19px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}
table tr:first-child td{
  border-top: 0;
}
table tr:last-child td{
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}
table tr td:last-child {
  border-right: 0;
}


.endgame {
  display: none;
  width: 380px;
  height: 70px;
  top: 330px;
  background-color: black;
  position: absolute;
  left: 46%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 4em;
}
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 15px;
  left: 20px;
  /*background-color: black;*/
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.human {
  position: absolute;
  top: 80px;
  right: 1px;
  /*background-color: black;*/
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
footer {
  text-align: center;
  padding: 50px;
  background-color:black;
  color: white;
  font-size: 1em;
}
}